.row {
    font-family: 'Times New Roman', Times, serif;
}

.row > .column
{
    width: 45%;
    padding: 10px;
    text-align: justify;
    display: inline-block;
}
#i1.column h1
{
    background-color: black; 
    border-radius: 10px 10px 0 0;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    margin-right: 50px;
}
#i1.column p:first-letter
{
    font-size: 100px;
}
#i1.column p
{
    background-color: darkgrey;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: justify;
    border-radius: 0 0 10px 10px;
    white-space: wrap;
    margin-right: 50px;
}
#i2.column h1
{
    background-color: darkorange; 
    border-top: solid 5px black;
    border-left: solid 5px black;
    border-right: solid 5px black;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    box-shadow:8px 8px 8px -1px darkgrey;
    margin-left: 50px;
}
#i2.column p
{
    box-shadow:8px 8px 8px -1px darkgrey;
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: justify;
    border-bottom: solid 5px black;
    border-left: solid 5px black;
    border-right: solid 5px black;
    white-space: wrap;
    color: white;
    margin-left: 50px;
}

#i3 p:before
{
    background: url('cat.jpg') no-repeat 0 0;
    background-size: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    content:'';   
}

#i3 p
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#i2.column p:first-line 
{
    font-weight : bold;
    text-shadow: 2px 2px 4px floralwhite;
}
#i3
{
    text-align: center;
}    